.oculto {
  display: none;
}

.visible {
  display: flex;
}

.marco-consentimiento {
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background-color: rgb(233 218 218);
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(0 0 0 / 6.6%);
  box-shadow: 5px 5px 30px black;

  & span {
    font-weight: bold;
    margin-bottom: 5px;
  }

  & section {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  & button {
    width: 80px;
    height: 30px;
  }
}

@media screen and (width >= 700px) {
  .marco-consentimiento {
    bottom: 10px;
    left: 10px;
    width: 400px;
    border-radius: 8px;
  }
}
